[submodule "data/putnambench"]
	path = data/putnambench
	url = https://github.com/trishullab/PutnamBench.git
[submodule "imports/itp-interface"]
	path = imports/itp-interface
	url = https://github.com/trishullab/itp-interface
