openai==1.65.1
anthropic==0.48.0
google-generativeai==0.6.0
python-dotenv==1.0.1
vllm==0.2.7
torch==2.1.2
transformers==4.49.0
accelerate==1.4.0
bitsandbytes==0.45.3
sentencepiece==0.2.0
pandas==2.2.3
numpy==2.2.3
tqdm==4.67.0
requests==2.32.3
grpcio==1.70.0
protobuf==3.20.3
itp-interface==1.1.6